<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:soap="http://cxf.apache.org/bindings/soap"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://cxf.apache.org/bindings/soap http://cxf.apache.org/schemas/configuration/soap.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
		http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<bean id="myDao" class="org.grozeille.MyDaoImpl">
	</bean>

	<bean id="myServiceImpl" class="org.grozeille.MyServiceImpl">
	</bean>

	<jaxws:endpoint id="greeter" address="/WS">
		<jaxws:binding>
			<soap:soapBinding version="1.2" />
		</jaxws:binding>
		<jaxws:implementor>
			<ref bean="myServiceImpl" />
		</jaxws:implementor>
	</jaxws:endpoint>
	
	<jaxrs:server id="greeterRest" address="/REST">
		<jaxrs:serviceBeans>
			<ref bean="myServiceImpl" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<jaxrs:providers>
			<!-- <ref bean="jaxbProvider" /> -->
			<ref bean="aegisProvider" />
			<ref bean="jsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>

	<bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider" />

	<bean id="aegisProvider" class="org.apache.cxf.jaxrs.provider.AegisElementProvider" />

	<bean id="jsonProvider" class="org.apache.cxf.jaxrs.provider.JSONProvider" />

</beans>